/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&family=Lato:wght@300&display=swap');
/* HTML Element Selector to set the font family for the entire document */

/* Google fonts options available */
/*.oswald-font {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
}
.lato-light-bold {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}*/

/* Resetting default styles for all elements */
* {
    padding: auto;
    margin: auto;
    box-sizing: border-box;
}

/* Body Section */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: lato-light, sans-serif;
}

/* Header Section */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

/* Header Section with Flexbox for layout */
h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked ~ nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main Section */
main {
    background-color: lightblue;
    /* Flexbox to make the main section take up the remaining space and keep the footer down */
    flex: 1 0 auto;
    margin-top: 47px;
}

/* Footer Section */
footer {
    background-color: orange;
}